* {
    padding: 0;
    margin: 0;
}

/* 
    GENERAL
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
    background: #000;
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
    height: 400vh;
}

section {
    display: block;
    padding-top: 100px;
    padding-right: 5%;
    padding-left: 5%;
}


img {
    max-width: 100% !important;
}

button:focus {
    outline: none !important;
}

.icons {
    color: #fff;
    background-color: #1B1B1B;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

/* 
    TYPOGRAPHY
*/
h1, h2, h3, h4, h5, h6{font-family: 'Montserrat', sans-serif; font-weight:normal; margin-top: 0px; margin-bottom: 0px; text-transform: capitalize; letter-spacing: 2px;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-family: 'Montserrat', sans-serif; font-size: 60px; font-style: normal; line-height: 70px; font-weight: 700; text-transform: capitalize; color: #fff; letter-spacing: 0;}
h2 { font-family: 'Montserrat', sans-serif; font-size: 38px; font-style: normal; line-height: 46px; font-weight: 600; color: #fff; text-transform: capitalize; margin-bottom: 10px; position: relative;}
h3 { font-family: 'Montserrat', sans-serif; font-size: 30px; font-style: normal; line-height: 36px; font-weight: 500;}
h4 { font-family: 'Montserrat', sans-serif; font-size: 24px; font-style: normal; margin-bottom: 10px; font-weight: 500; line-height: 30px; color: #fff;}
h5 { font-family: 'Montserrat', sans-serif; font-size: 20px; font-style: normal; margin-bottom: 10px; font-weight: 500; line-height: 26px; color: #fff;}
h6 { font-family: 'Montserrat', sans-serif; font-size: 18px; font-style: normal; line-height: 24px; margin-bottom: 10px; color: #fff;}


/* 
    PRELOADER
*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #000;
}
  
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #CC0001;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}
  
@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* 
    BACK TO TOP
*/
.back-to-top {
    position: fixed;
    display: none;
    background: #CC0001;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
}
  
.back-to-top i {
    padding-top: 12px;
    color: #fff;
}

/* 
    NAVBAR
*/
.navbar {
    background: #0009;
    color: #fff;
}

/* 
    SEARCH BOX
*/
.mainLoginInput {
    font-family: 'Montserrat', sans-serif !important;
    height: 30px;
    border-radius: 20px;
    border-width: 0;
    margin: 5px 0;
    background-color: #1B1B1B;
}

.mainLoginInput::-webkit-input-placeholder { 
    font-family: 'Montserrat', FontAwesome, sans-serif;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
}

.mainLoginInput::-moz-placeholder  { 
    font-family: 'Montserrat', FontAwesome, sans-serif;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
}

.mainLoginInput:-ms-input-placeholder  { 
    font-family: 'Montserrat', FontAwesome, sans-serif;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    padding-left: 5px;
    padding-top: 2px;
}

/* 
    SIDEBAR MENU LEFT
*/
.logo:hover {
    background-color: #000 !important;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid #1B1B1B;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.sidenav a:hover {
    background-color: #1B1B1B;
}

#main {
    margin-left: 200px; 
    margin-right: 200px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* 
    CREATE BTN DSKTP
*/
.create-btn {
    background: #CC0001;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 0px;
    color: #FFFFFF;
    text-align: center;
    border-color: #CC0001;
    border-width: 0;
    border-radius: 5px;
    padding: 10px 16px;
    margin-left: 35px;
    cursor: pointer;
}

/* 
    SIDEBAR MENU RIGHT
*/
.sidenavRight {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: 1px solid #1B1B1B;
}

.sidenavRight a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

.sidenavRight a:hover {
    background-color: #1B1B1B;
}

@media screen and (max-height: 450px) {
    .sidenavRight {padding-top: 15px;}
    .sidenavRight a {font-size: 18px;}
}

/* 
    NAVBAR MOBILE
*/
.navbarMobile {
    background-color: #0E0E0E;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbarMobile a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
}

.navbarMobile a:hover {
    background-color:#1B1B1B;
}
 