* {
    padding: 0;
    margin: 0;
}

/* 
    GENERAL
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Open+Sans&family=Overpass&display=swap");

@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

body {
    background: #000;
    font-family: 'Open Sans', sans-serif;
    color: #fff !important;
}

section {
    display: block;
}


img {
    max-width: 100% !important;
}

button:focus {
    outline: none !important;
}

.icons {
    color: #fff;
    background-color: #1B1B1B;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

/* 
    TYPOGRAPHY
*/
h1, h2, h3, h4, h5, h6{font-family: 'Overpass', sans-serif; font-weight:normal; margin-top: 0px; margin-bottom: 0px; text-transform: capitalize; letter-spacing: 2px;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }
h1 { font-family: 'Overpass', sans-serif; font-size: 60px; font-style: normal; line-height: 70px; font-weight: 700; text-transform: capitalize; color: #fff; letter-spacing: 0;}
h2 { font-family: 'Overpass', sans-serif; font-size: 38px; font-style: normal; line-height: 46px; font-weight: 600; color: #fff; text-transform: capitalize; margin-bottom: 10px; position: relative;}
h3 { font-family: 'Overpass', sans-serif; font-size: 30px; font-style: normal; line-height: 36px; font-weight: 500;}
h4 { font-family: 'Overpass', sans-serif; font-size: 24px; font-style: normal; margin-bottom: 10px; font-weight: 500; line-height: 30px; color: #fff;}
h5 { font-family: 'Overpass', sans-serif; font-size: 20px; font-style: normal; margin-bottom: 10px; font-weight: 500; line-height: 26px; color: #fff;}
h6 { font-family: 'Overpass', sans-serif; font-size: 18px; font-style: normal; line-height: 24px; margin-bottom: 10px; color: #fff;}

/* 
    NAVBAR
*/
.navbar {
    background: transparent;
    color: #fff;
}

/* 
    SEARCH BOX
*/
.mainLoginInput {
    font-family: 'Noto Sans', sans-serif !important;
    height: 30px;
    border-radius: 20px;
    border-width: 0;
    margin: 5px 0;
    background-color: #1B1B1B;
}

.mainLoginInput::-webkit-input-placeholder { 
    font-family: 'Noto Sans', FontAwesome, sans-serif;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
}

.mainLoginInput::-moz-placeholder  { 
    font-family: 'Noto Sans', FontAwesome, sans-serif;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
}

.mainLoginInput:-ms-input-placeholder  { 
    font-family: 'Noto Sans', FontAwesome, sans-serif;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    padding-left: 5px;
    padding-top: 2px;
}

/* 
    SIDEBAR MENU
*/
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a, .sidenav span {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    display: block;
    font-family: 'Noto Sans', sans-serif;
}

.sidenav a:hover {
    background-color: #1B1B1B;
}

#main {
    margin-left: 200px; 
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* 
    CREATE BTN DSKTP
*/
.create-btn {
    background: red;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 0px;
    color: #FFFFFF;
    text-align: center;
    border-color: red;
    border-width: 0;
    border-radius: 5px;
    padding: 10px 16px;
    margin-left: 35px;
    cursor: pointer;
}

